.container{
    background-image: url(../img/Фон\ 1.jpg);
    background-size: 100%;
}

.header_menu{
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 18px 79px;
}
.header_nav{

}

.header_title{
    font-family: Ubuntu;
    font-size: 22px;
    line-height: 22px;
    line-height: 87%;
    align: Left;
    vertical-align: Center;
    color: #FFFFFF;
    text-align: center;
}

.header_line::after{
    content: "";
}

.header_registr_format{
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 14px;   
    color: #FFFFFF;
    align-items: center;
}

.header_calendar{
    padding-right: 27px;
}
.header_calendar:hover{
    fill: #01813F;
}

.header_letter{
    padding-right: 24px;
}

.header_letter:hover{
    fill: #01813F;
}
.header_compass{
    padding-right: 25px;
}

.header_compass:hover{
    fill: #01813F;
}

.header_line{
    padding-right: 27px;
}
.green_hover{
    text-decoration: none;
   color: #FFFFFF;
}
.green_hover:hover{
   color: #01813F;
}

.registration_form{
    width: 324px;
    margin-right: auto;
    margin-left: auto;
}

.container_form{
    width: 444px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 54px;
    background-color: #FFFFFF;
    content: "";
}
    

.registration_form_head{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 14px;
    padding-top: 31px;
}
.green_square{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: relative;
    top: 50px;
}
.Sign_up{
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    text-transform: capitalize;
}

.log-in{
    text-decoration: none;
    color: #3CB878;
    text-transform: capitalize;
}
.log-in:hover{
    text-decoration: underline;
    color: #01813F;
}

.login_buttons{
    display: flex;
    justify-content: space-between;
}

.login_button_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons_logo{
    display: flex;
    justify-content: space-between;

}

.line{
    padding-left: 10px;
}
.log_in_facebook{
   width: 160px;
   height: 48px;
   background-color: #305DB8;
   border-radius: 5px;
}

.log_in_facebook:hover{
    background-color: #022263;
}

.facebook{
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.log_in_google{
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border-radius: 5px;
}

.log_in_google:hover{
background-color: #AB1F09;
}
.google{
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.or{
     display: flex;
     justify-content: center;
     font-family: Ubuntu;
     font-size: 14px;
     line-height: 14px;
     color: #848484;
     margin-top: 31px;
     padding-bottom: 3px;
}

.alternative__log{
    display: flex;
    align-items: flex-end;
    margin-bottom: 11px;
}

.altarnative_log_line{
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
}

.name{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 20px;
    color: #434343;
    text-transform: capitalize;
    height: 46px;
}
input.name[type=text]:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
input.name[type=email]:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
input.name[type=password]:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.agree{
    margin-bottom: 38px;

}
.agree_text_2{
    font-family: Ubuntu;
     font-size: 14px;
     line-height: 14px;
    color: #3CB878;

}
.agree_text_2:hover{
     text-decoration: underline;
     color: #01813F;
}

.agree_text_1{
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 14px;
    color: #434343;

}
.create_account{
    width: 100%;
    height: 46px;
    background-color: #3CB878;
    font-family: Ubuntu;
    font-size: 16px;
     line-height: 16px;
     color: #FFFFFF;
     margin-bottom: 38px;
 
}

.create_account:hover{
    background-color: #01813F;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
}

