.container{
	color: rgb(211, 211, 17);
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.titles{
    position: absolute;
    top: 30%;
    /* transform-origin: 50% 100%; */
    transform: perspective(900px) rotateX(20deg);
}
.titlecontent{
    content: "";
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 80px;
    font-weight: bold;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes scroll {
        0% {transform: translateY(0%);
        }       
        100% {
            transform: translateY(-170%);
        }   
}
