*,
::after,
::before {
  box-sizing: border-box;
}

.container {
    display: flex;
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}
.background{
    width: 1366px;
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    padding-left: 163px;
    padding-right: 177px;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1028px;
    margin: 0;
}

.text_color:hover{
    color: #F26522;
}
.logo{
    display: flex;
    text-decoration: none;
    padding-top: 51px;
    position:relative;
}
.logo_orange{
    visibility: visible;
}
.logo_white{
    content: "";
    position: absolute;
}

.logo_white:hover.header_hover{
    visibility: hidden;
}
.logo_white:hover {
    visibility: hidden;
}
.logo_text_container{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.logo_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}
.logo_text:hover{
    color: #F26522;
}
.logo_text_2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}
.logo_text_2:hover{
    color: #F26522;
}
.contacts{
    display: flex;
    text-decoration: none;
    flex-direction: column;
}

.email{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 46px;
    text-decoration: none;
}
.email:hover{
    color: #F26522;
}
.email_decoration{
    text-decoration: none;
}
.telephone{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
    align-self: flex-end;
    padding-top: 19px;
}
.telephone:hover{
    color: #F26522;
}
.menu{
    padding-left: 0;
}
.menu_container{
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    position: relative;
}
.menu_item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu_item1_details{
   content: "";
   position: absolute;
   width: 296px;
   height: 55px;
   top: 163px;
   left: 2px;
   background: #F26522;
   visibility: hidden;
   display: flex;
   flex-direction: column;
   text-decoration: none;
}
.price_title{
    font-family: Roboto;
    font-size: 10px;
    line-height: 10px;    
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 7px;
    margin: 0;
}
.p_margin{
    margin: 0;
    padding-right: 16px;
}
.price_text1{
    font-family: Roboto;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 13px;
    padding-right: 16px;
}
.view_details{
    display: flex;
    align-items: center;
}
.pictures_block:hover .menu_item1_details{
    visibility: visible;
    transition: margin-left 0.4s ease-in-out 0.2s;
}

.menu_item3{
    display: flex;
    flex-direction: column;
}
.text_item{
   font-family: Roboto;
   font-size: 18px;
   line-height: 18px;
   color: #FFFFFF;
   text-align: center;
   padding-bottom: 37px;   
   padding-top: 20px;
   margin: 0%;
}

.text_item:hover{
    color: #F26522;
}


.footer_rights{
    display: flex;
    justify-content: center;
}
.text_footer{
    font-family: Roboto;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 0%;
    padding-top: 12px;
    padding-bottom: 18px;
}