
.container{
    width: 1160px;
    margin: 0 auto;
}

h1{
    text-align: center;
}
.header_menu{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding-top: 44px;
    padding-bottom: 44px;
}

.logo_rhomb{
    transform: rotate(30deg);
  
}

.logo_H{
    position: relative;
    left: 40px;
    bottom: 8px;
}
.the_ham_logo{
    position: relative;
    right: 54px;
    bottom: 15px;
}
.header_menu_logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
    margin-right: 305px;
    display: flex;
    padding-top: 17px;
}

.header_menu_text_1{
    font-family: Montserrat;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: lowercase;
}
.header_menu_text_2{
    font-family: Montserrat;
 
    align-items: center;
    color: #18CFAB;
    text-transform: capitalize;
    text-decoration: none;
}

.nav_header_menu_item{
    display: flex;
    list-style: none;
    padding-right: 21.09px;

}
.nav_header_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 18px;

}
.nav_header_menu_item_text{
     text-decoration: none;
     font-family: Montserrat;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 24px;
     text-transform: uppercase;
     color: rgba(255, 255, 255, 0.6);
}
.nav_header_menu_item_text:hover{
    color: #18CFAB;
}
.first_section{
    font-family: Montserrat;
    text-align: center;
    background: url(../img/background_1.png) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.parallax__layer--back {
    transform: translateZ(-1px);
  }

.firts_section_title_1_text_2{
    color: #18CFAB;
}

.firts_section_title_1_text_1{
    color: #FFFFFF
}
.firts_section_title_1{
    padding-top: 264px;
}
.firts_section_title_2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.firts_section_title_2::after {
   content: "Just Buy And Enjoy These Awesome Features";
   color: #c0b8b8;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;   
   display: flex;
   justify-content: center;
   margin-top: 70px;

}
.button_section{
    margin-top: 134px;
    padding-bottom: 242px;
}
.header_section_button_1{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    background: #18CFAB;
    border-radius: 4px;
    border-top: 4px solid #FFFFFF;
    color: #FFFFFF;
    padding: 17px;
    margin-right: 26px
}


.header_section_button_2{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    background: #00CBF6;
    border-radius: 4px;
    border-top: 4px solid #FFFFFF;
    color: #FFFFFF;
    padding: 17px;
}
.under_the_menu_items{
   display: flex;
   padding-right: 0;
   width: 100%;
   padding-left: 0;
   margin-top: 8px;
   display: flex;
    justify-content: center;
}
.under_the_menu_item_black{
    background-color: #1C2A33;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 93px; 
    padding-bottom: 110px;
    text-decoration: none;

}
.under_the_menu_item_green{
    text-decoration: none;
    background-color:#18CFAB;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 109px;
    padding-bottom: 110px;
}
.undr_mn_itm_ttl_blck{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #18CFAB;
    padding-right: 64px;
    padding-left: 106px;

}

.undr_mn_itm_ttl_grn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 64px;
    padding-left: 106px;
    padding-top: 25px;    
}
.servc_dscrpt{
    display: flex;
}
.services{
    display: flex;
    justify-content: space-evenly;
    height: 76px;
}
.services_item{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-family: Montserrat;
    background: #F8FCFE;
    border-top: 1px solid #EDEFEF;
    border-bottom: 1px  solid #EDEFEF;
    border-left: 0.5px solid #EDEFEF;
    border-right: 0.5px  solid #EDEFEF;

}
.services_item:hover{
    border: 1.5px solid #18CFAB;
    box-sizing: border-box;
}
.dicsrpt_servc{
    padding-left: 15px;
}
.services_item_description{
    display: flex;
}

.services_design_item{
    width: 100%;
    margin: auto;
}


.hidden_srv{
    display: none;
}
.showing_srv{
    display: flex;
}

.is_active_services{
    background-color: #18CFAB;
    color: #FFFFFF;

}

.section_purchase_now{
    display: flex;
    justify-content: center;
    background: url(../img/background_section_purchase.jpg) no-repeat;
    background-size: 100%;
}
.section_purchase_now_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 126.78px;
}
.section_purchase_now_title::after {
    content: "Smooth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you";
    color: #D8D8D8;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 12.22px;
 
 }

 .button_purchase{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    background: #18CFAB;
    border-radius: 4px;
    border-top: 4px solid #FFFFFF;
    color: #FFFFFF;
    padding: 17px;
    margin-left: 520px;
    margin-bottom: 127px;
    margin-top: 67px;
    display: inline-block;
}

.section_amazing_work{
    background-color: #E9EDEF;
    display: flex;
    padding-bottom: 107px;
}
.section_amazing_work_menu{
    display: flex;
    justify-content: space-evenly;
    width: 582px;
    margin-left: 280px;
    margin-right: 280px;
}
.amazing_work_menu_item{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    background: #F8FCFE;
    border: 0.5px solid #DADADA;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    padding: 14px;

}

.amz_wrk_mn_itm_all{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    background: #F8FCFE;
    border: 0.5px solid #DADADA;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    padding: 14px;
}
.amz_wrk_mn_itm_all:hover{
     border: 1px solid #18CFAB;
    }
.amazing_work_menu_item:hover{
    border: 1px solid #18CFAB;
}
.amazing_work_item{
    list-style: none;
   
}

.amazing_work_item_list{
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
    padding-bottom: 83px;
}

.hidden_amz_wrk_itm{
    display: none;
}

.shwng_amz_wrk_itm{
    display: flex;
}

.btn_load_more{
    font-family: Montserrat;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;  
    text-transform: uppercase;
    background: #18CFAB;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 15px;
    display: inline-block;
    margin-left: 520px
}
.amz_wrk_lst_hidden{
    display: none;
}
.amz_wrk_2nd_hidden{
    display: none;
}
.scnd_load{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;  
    text-transform: uppercase;
    background: #18CFAB;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 15px;
    display: inline-block;
    margin-left: 520px
}
.amazing_work_item_othrsd{
    text-decoration: none;
    list-style: none;
    width: 281px;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #18CFAB;
    background-color: #E9EDEF;;
}
.img_otrsd{
    display: flex;
}
.amazing_work_item_othrsd_p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;  
    align-items: center;
    color: #8A8A8A;  
    margin-top: 0;
    list-style: none;
}
.sct_amz_ttl{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 97px;
    color: #4E4E4E;
}
.amazing_work_item_othrsd_tttl{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #18CFAB;
    padding-top: 40px;
}
.section_news{
    border: ;
}
.news_menu{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-evenly;
    
}
.nws_mn_itm{
    height: 320px;
    text-decoration: none;
}
.nws_mn_ttl{
    font-family: Montserrat;
    font-size: 17.9885px;
    align-items: center;
    text-align: center;
    color: #717171;
}
.section_news_ttl{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    margin-top: 82px;
    margin-bottom: 100px;
}
.nws_mn_ttl:hover{
    color: #18CFAB;;
}


.nws_mn_cmnts{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #777777;
    justify-content: space-evenly;
}
.nws_mn_date{
    height: 68px;
    width: 70px;
    background-color: #203E38;
    color: #FFFFFF;
    align-content: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 297px;
    left: 193px;
}
.nws_mn_date:hover{
    background-color: #18CFAB;;
}
.cmnt_hm_txt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
}
.cmnt_hm_ttl{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 98px;
}
.sctn_cmnt_ham{
    background-image: url(../img/Layer\ 333.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.cmnt_hm_prfl_info{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.cmnt_hm_prfl_name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.cmnt_hm_prfl_name_pstn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 38px;
}
.cmnt_hm_hide{
    display: none;
}
.cmnt_hm_mn_pht{
    display: flex;
    margin-top: 57px;
    justify-content: center;
 
}
.brd_rds{
    border-radius: 31px;
}
.cmnt_hm_pht{
   list-style: none;
   padding-right: 27px;
}
.cmnt_btn_lft{
    width: 31px;
    height: 31px;
    padding-right: 30px;
    border: 1px solid #BBBBBB;
    margin-top: 35px;
    background: rgba(0, 0, 0, 0);
}
.cmnt_btn_lft:hover{
    color: #FFFFFF;
    background-color: #18CFAB;
}
.cmnt_btn_rght{
    width: 31px;
    height: 31px;
    padding-left: 30px;
    border: 1px solid #BBBBBB;
    margin-top: 35px;
    background: rgba(0, 0, 0, 0); 
}
.cmnt_btn_rght:hover{
    color: #FFFFFF;
    background-color: #18CFAB;
}
.cmnt_hm_pht_anm{
    position: relative;
    bottom: 20px;
    animation: totop 1s;
}
.img_radius{
    border-radius: 70px;
}
.cmnt_active{
    display: flex;
}
@keyframes totop 
    {        from {bottom: 1px;} 
        to{bottom:20px;} 
        }
.cmnt_hm_photo_it{
    display: flex;
}
.footer{
    background: #22353F;
    width: 100%;
}
.footer_style{
    text-decoration: none;
    padding-top: 48px;
    padding-bottom: 47px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    color: #BBBBBB;
    display: inline-block;
    text-align: end;
}
.footer_lg_stl{
    color: #18CFAB;
}
.ft_size{
    display: flex;
    justify-content: center;
}