*,
::after,
::before {
  box-sizing: border-box;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1900px;
    flex-direction: column;
}

.header_menu {
    display: flex;
    background-color: #313131;
    justify-content: space-between;
    margin: auto;
    width: 1900px;
}

.logo {
    display: flex;
    align-items: center;
    list-style: none;
}

.Architect {
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 30px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
   margin: 0 27px;
}

.color_Architect {
    color: #FFFFFF;
}



.menu_items {
    display: flex;
}
.menu{
    display: flex;
    flex-direction: column;
}

.header_menu_items{
    display: flex;
    margin: auto;
}
.wrap{
    padding-top: 164px;
    padding-bottom: 70px;

}
.menu_item_hover {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FF0000;
    margin: auto 30px auto 30px;
}

.menu_item_home {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #14B9D5;
    margin: auto 30px auto 30px;
}

a {
    text-decoration: none;
    text-align: center;
}

.menu_item_a {
    font-family: Open Sans;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto 30px auto 30px;
}

.search_item {
    width: 68px;
    height: 70px;
    display: flex;
    background: #000000;
    justify-content: center;
    align-items: center;
}

.header_background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/header-background.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 1900px;
    flex-direction: column; 

}
.table_of_contents {
    font-family: Open Sans;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: flex-end;
    text-align: center;
   color: #FFFFFF;
   padding-bottom: 44px;
    margin: 0;
}
.button_header {
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.button_subscribe{
   font-family: Open Sans;
   font-size: 18px;
   line-height: 25px;
   display: flex;
   color: #FFFFFF;
   justify-content: space-evenly;
}

.button_articles {
   font-family: Open Sans;
   font-size: 18px;
   line-height: 25px;
   display: flex;
   justify-content: space-evenly;
   color: #FFFFFF;
}
.button_container_1{
    width: 170px;
    height: 55px;
    background: #89CA62;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.button_container_2{
    width: 170px;
    height: 55px;  
    background: #14B9D5;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.first_section{
    margin-left: auto;
    margin-right: auto;
   
}
.first_section__background{
    background: #F2F2F2;
    width: 1900px;
}

.section_popular_posts_title{
     font-family: Open Sans;
     font-size: 27px;
     line-height: 37px;
     text-align: center;
     text-transform: uppercase;
     color: #18B4CF;
     margin-top: 49px;
     margin: 0;
     padding: 49px;
}

.popular_posts{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    width: 1170px;
    padding: 0;
}
  
.popular_posts_item{
    text-decoration: none;
    padding-bottom: 37px;

}

.popular_posts_item_blossom{
    text-decoration: none;
    padding-bottom: 37px;
    margin-top: -120px;
}

.popular_posts_item_france{
    text-decoration: none;
    padding-bottom: 37px;
    margin-top: -100px;
}

.popular_posts_text_item{
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #353A3D;
}

.text_container{
    width: 370px; 
    background:  #FFFFFF;;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular_posts_text_item{
    font-family: Open Sans; 
    line-height: 25px; 
    font-size: 18px; 
    align-items: flex-end; 
    display: flex; 
    color: #353A3D;
    text-align: center; 

}
.popular_lists{
    display: flex;
    justify-content: center;
}

.background_section2{
    background-image: url(../img/background\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  
}

.second_section_menu{
   list-style: none;
   justify-items: center;
   align-items: center;
   display: grid;
   padding-top: 197px;
   padding-bottom: 192px;
   padding-right: 510px;
   padding-left: 510px;
   margin-top: 0;
   margin-bottom: 0;
   grid-template-areas: 
   "second_section_item1 second_section_item2 second_section_item3 second_section_item4"
}

.second_title{
    font-family: Open Sans;
    font-size: 32px;
    line-height: 44px;
     color: #FFFFFF;
     padding-left: 720px;
     padding-top: 106px;
     margin-top: 0;
     margin-bottom: 0%;
}
.carousel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hot_news_menu{
    max-width: 1929px;
    display: grid;
    list-style-type: none;
    margin-left: 350px;
    margin-right: 350px;
    grid-gap: 25px;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4" 
    "item5 item5 item6 item6" 
    "item7 item8 item8 item8";
}

.hot_news_item1{
    grid-area: item1;
    display: grid;
    grid-template-areas:
    "img1 text_item"
}
.hot_news_item2{
    grid-area: item2;
    display: grid;
    margin-right: 10px;
}

.hot_news_item3{
    grid-area: item3;
    width: 554px;
    display: grid;
    align-items: center;
    grid-template-areas:
    "img1"
    "text_item"
}


.hot_news_item4{
    grid-area: item4;
    padding-right: 450px;
    width: 554px;
    display: grid;
    align-items: center;
    grid-template-areas:
    "img1"
    "text_item"
}
.hot_news_item5{
    display: grid;
    grid-area: item5;
    grid-template-areas:
    "img1"
    "text_item"
 
}
.hot_news_item6{
    display: grid;
    grid-area: item6;
    grid-template-areas:
    "img1"
    "text_item"
 
}
.hot_news_item7{
    display: grid;
    grid-area: item7;
    
}
.hot_news_item8{
    display: grid;
    grid-area: item8;
    grid-template-areas:
    "img1 text_item"
}
.title_h5{
    font-family: Open Sans;
   font-size: 18px;
   line-height: 25px;
   text-align: right;
   color: #353A3D;
   margin: 0;
   margin-bottom: 20px;
   margin-top: 15px;
}
.text_item{
      text-align: right;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      c      olor: #5B6469;
}

.background_text{
      background-color: #F9F7F7;
      text-align: center;
      font-family: Open Sans;
      font-size: 14px;
      line-height: 21px;
      color: #5B6469;
      padding: 24px;
      width: 554px;
}

.container_size{
    height: 259px;
    background-color: #F9F7F7;
    text-align: right;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
     font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding: 10px;
}

.background_title{
    background-color: #F9F7F7;
    text-align: right;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
     font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-right: 6px;
    text-align: center;
}


.footer_menu{
    background-color: #000000;
    width: 1929px;
    display: flex;
    justify-content: space-evenly;
}

.logo2_text{
    font-family: Open Sans;
    font-style: normal;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}
.logo2{
    display: flex;
    justify-content: center;
    
}