*,
::after,
::before {
  box-sizing: border-box;
}

body{
    margin-bottom: 30px;
}

.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.text-style {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;

}

.blue {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: lightskyblue;
}
a { 
    text-decoration: none; 
    font-family: "Roboto";
    list-style-type: none;
   } 
   
   
   .menu {
    display: flex;
    margin-left: 130px;
   }
.posts{
    list-style-type: none;
    display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  
}

nav{
    width: 1283px;
    height: 72px;
    background: #35444F;
}
   .menu_items {
    list-style-type: none;
    height: 72px;
    left: 1px;
    align-items: center;
    display: flex;
    border-left: 1px solid white;
    
   }
   .menu_items:hover{
    background: #222F3A;
   }



   .menu_item_a{
    margin: auto 30px auto 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
   }


.body{
    display: flex;
    margin-top: 50px;
}
   .aside_menu{
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    font-family: "Roboto";
    display: flex;
    width: 344px;
    height: 399px;
    color: #495863;
    margin-right: 52px;
    flex-direction: column;
   justify-content: space-evenly;
   padding-inline-start: 0;
   margin-block-start: 0;
    margin-block-end: 0;
   }

   .aside_menu_item{
    width: 342px;
    height: 81px;
    left: 1px;
    top: 78px;
    list-style-type: none;
    align-items: center;
    font-size: 27px;
    line-height: 27px;
    display: flex;
  
   }

    
    .aside_menu_item_a{
margin-left: 44px;
color: #495863;
    }

   
   .aside_menu_item:hover{
    background: #DBDBDB;

   }
   .aside_menu_item:hover a{
       color: #000000;
       margin-left: 80px;
   }

   .img{
background-size: 885px 529px;
       width: 885px;
       height: 529px;
       border: 1px solid #000000;
       padding: 75px 268px 73px 297px;

   }

   p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
   }
   .menu_footer{
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
   }
   .menu_footer_items{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0C1927;
    height: 69px;
   }


   footer{
    width: 1280px;
    height: 69px;
    left: 0px;
    top: 0px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-evenly;
   }


   .menu_footer_items_a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0C1927;
    margin-right: 30px;
   }

   .menu_footer_items:hover a{
    color: #3181a6;}
    .copyright{
        height: 69px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
display: flex;
align-items: center;
color: #010101;
    }