*,
*::after,
*::before {
    box-sizing: border-box;
}

.container{
    
max-width: 1300px;
padding-left: 95px;
padding-right: 95px;
padding-top: 31.5px;
padding-bottom: 31.5px;

margin-left: auto;
margin-right: auto;
}

a{
    text-decoration: none;
    font-family: Montserrat;
    letter-spacing: 3px
}


.main-menu{
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 194px;
    /* margin-right: ; */
}
.main-menu-item{
    display: inline-block;
    vertical-align: middle; 
}


.main-menu-link{
    /* display: inline-block;
    vertical-align: middle; */
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #FF0000;
    padding: 12px 30px; 


}
    .main-menu-item{
    display: inline-block;
    vertical-align: middle; 
}
.Photo-container{
    max-width: 1300px;
    padding-bottom: 31.5px;
    
    margin-left: auto;
    margin-right: auto;
}

.text-container-heading{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 4.25px;
    font-family: Montserrat;
    color: #373737;
    padding-top: 20px;
    padding-bottom: 60px ;
}
.text-container-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-style: normal;
    letter-spacing: 2.4px;
    color: #373737;
    max-width: 1300px;
    padding-bottom: 31.5px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 3px;    
}

.Start-button{ 
    font-family: Montserrat;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color:  #FFFFFF;
    box-sizing: content-box;
    border-radius: 10px;
    width: 200px;
    padding: 20.5px 18px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    margin-top: 42px;
    letter-spacing: 2.4px;
}

.page-foot{
    font-family: Montserrat;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    letter-spacing: 2.4px;
    margin-bottom: 20px;
    margin-top: 80px;
    padding-left: 600px;

}

.main-menu-item:active{
    color: green;
}

..main-menu-item:active{
    box-shadow: 0 0 5px orange;
}
